.list{
    text-decoration: none;
    color: blue;
    font-size: medium;
}
.list:hover{
    text-decoration: none;
    color:red ;

}
.list:active{
    text-decoration: none;
    color: green;
}
h1{
    font: arial;
    text-shadow: 10px;
    text-align: justify;
}
p{
    font-size: 1.2rem;
    line-height: 1.6;
}